<form class="bg-light text-center col-md-8" action="/edit/{{toy._id}}" method="post">
    <div>
        <h1 class="text text-primary">Edit</h1>
    </div>
    <div class="form-group mt-3">
        <label class="text text-success">Name</label>
        <input class="form-control" type="text" name="name" value="{{toy.name}}" required>
    </div>
    <div>
        <label class="text text-success">Price</label>
        <input class="form-control" type="number" name="price" value="{{toy.price}}" required>
    </div>
    </div>
    <div>
        <label class="text text-success">Category</label>
        <input class="form-control" type="text" name="category" required>
    </div>
    

    <div>
        <label for="">Brand</label><br>
        <select name="brand" id="">
            {{#each brands }}
            <option value="{{ _id }}">{{ name }}</option>
            {{/each}}
        </select>

    </div>
    
    <div class="form-group mt-3">
        <label class="text text-success">Quantity</label>
        <input class="form-control" type="number" name="quantity" value="{{toy.quantity}}" required>
    </div>
    <div class="form-group mt-3">
        <label class="text text-success">Image</label>
        <input class="form-control" type="text" name="image" value="{{toy.image}}" required>
    </div>
    <div class="form-group mt-3">
        <label class="text text-success">Detail</label>
        <input class="form-control" type="text" name="detail" value="{{toy.detail}}" required>
    </div>
    <div class="form-group mt-3">
        <input class="btn btn-danger" type="submit" value="Edit">
    </div>
</form>